@import "./styles/general.scss";

.container {
  display: flex;
  align-items: center;
  border: $border-general;
  height: 300px;
  padding: 10px;
  margin-bottom: $spacing-general;
  overflow: hidden;
  &_number {
    border-right: $border-general;
    width: 20%;
    text-align: center;
    h2 {
      color: $color-orange;
      font-family: "Chakra Petch";
      font-size: 8em;
      @include textGlow1($color-orange-opacity);
    }
  }
  &_text {
    padding: 80px;
    width: 80%;
    p {
      color: $color-whey;
      font-family: Bungee;
      font-size: 3em;
      max-width: 700px;
      @include textGlow2($color-whey-opacity);
      img {
        display: block;
      }
    }
  }
}
