@import "./styles/general.scss";

.header {
  padding: 10px 0;
  margin-bottom: 20px;
  @include textGlow1($color-whey-opacity);
  border-bottom: $border-general;
  h2 {
    font-family: Bungee, monospace;
    font-size: 3em;
  }
  > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    p {
      font-size: 1.3em;
      max-width: 950px;
    }
    img {
      max-width: 500px;
    }
  }
}

.minutesLabel {
  .minutes {
    display: flex;
    justify-content: space-between;
    margin-left: 130px;
    margin-top: 10px;
  }
  text-align: center;
}
