@import "./styles/general.scss";


.container {
  margin: 40px;
}

.content {
  padding: 0 40px;
}

.topBorder,
.botBorder {
  display: flex;
  justify-content: space-between;
  img {
    width: 40px;
    height: auto;
  }
  .warnlines{
    width: auto;
    max-width: 600px;
  }
}

.topBorder {
  img:first-child {
    transform: rotate(270deg);
  }
  .warnlines{
    margin-left: auto;
  }
}

.botBorder {
  img:first-child {
    transform: rotate(180deg);
  }
  img:last-child {
    transform: rotate(90deg);
  }
  .warnlines{
    margin-right: auto;
  }

}
