@import "./styles/general.scss";

.container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.label {
  text-align: center;
  width: 110px;
  margin-right: 30px;
  @include textGlow1($color-whey-opacity);
  img {
    margin-bottom: 10px;
  }
}

.line {
  padding: 5px;
  width: 100%;
  display: flex;
  align-items: top;
  justify-content: space-between;
  border-top: $border-general;
  border-bottom: $border-general;
  background: url("../../public/timelineLineBG.png");
}

.momment {
  padding: 10px;
  flex: 1 1 0px;
  > div {
    opacity: 0.3;
    text-align: center;
  }
  p {
    font-family: "Fira Code", monospace;
    font-size: 0.9em;
    text-align: center;
    line-height: 1.2em;
  }
  .viewed {
    opacity: 1;
    p {
      display: block;
    }
  }
  .interactionIcon {
    max-width: 90px;
    height: 90px;
    margin-bottom: 10px;
  }
  .separator {
    width: 50px;
    margin-right: 10px;
    opacity: 0.4;
  }
  &:last-child {
    .separator {
      display: none;
    }
  }
}

