@import "./styles/general.scss";

.container {
  display: flex;
  align-items: center;
}

.label {
  text-align: center;
  width: 110px;
  margin-right: 30px;
  @include textGlow1($color-whey-opacity);
  img {
    margin-bottom: 10px;
  }
}

.line {
  padding: 20px;
  margin: 20px 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: $border-general;
  border-bottom: $border-general;
  background: url("../../public/timelineLineBG.png");
}

.momment {
  width: 120px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: left;
  .interactionIcon {
    max-width: 120px;
    height: 110px;
  }h
  .separator {
    width: 50px;
    margin-right: 10px;
    opacity: 0.4;
  }
  &:last-child {
    .separator {
      display: none;
    }
  }
}

