@import "./styles/general.scss";

.container {
  width: 20%;
  padding-left: 30px;
  @include textGlow1($color-whey-opacity);

  > div {
    padding: 10vh 0;
    border-bottom: $border-general;
  }
  > div:last-child {
    border-bottom: none;
  }
  > div:first-child {
    padding-top: 8vh;
  }
}

.title {
  font-family: Bungee;
  h1 {
    font-size: 2.5em;
  }
}

.pageDescription {
  display: flex;
  align-items: flex-start;
  font-size: 1.5em;
  p {
    margin-left: 10px;
  }
}

.date {
  font-size: 1.5em;
  img {
    width: 100%;
  }
}
