@import "./styles/general.scss";

.container {
  text-align: center;
  // max-width: 250px;
  padding-top: 30px;
  
  > div {
    display: flex;
    height: 90vh;
    justify-content: center;
    align-items: center;
  }
  .control {
    padding: 20px 40px;
    border-top: $border-general;
    border-bottom: $border-general;
    @include textGlow1($color-blue-opacity);

    img, p {
      max-width: 170px;
    }
    p {
      line-height: 1em;
      font-size: 1.5em;
      color: $color-blue;
    }
    &:first-child {
        margin-bottom: 30px;
    }
  }
}
