$textGlowAnimSpeed: 700ms;

@mixin transitionAll($speed) {
  -webkit-transition: all $speed ease-in-out;
  -moz-transition: all $speed ease-in-out;
  -ms-transition: all $speed ease-in-out;
  -o-transition: all $speed ease-in-out;
  transition: all $speed ease-in-out;
}

@mixin textGlow1($color) {
  -webkit-animation: glow1 $textGlowAnimSpeed ease-in-out infinite alternate;
  -moz-animation: glow1 $textGlowAnimSpeed ease-in-out infinite alternate;
  animation: glow1 $textGlowAnimSpeed ease-in-out infinite alternate;
  @keyframes glow1 {
    from {
      text-shadow: 0 0 15px $color;
    }
    to {
      text-shadow: 0 0 25px $color;
    }
  }
}

@mixin textGlow2($color) {
  -webkit-animation: glow2 $textGlowAnimSpeed ease-in-out infinite alternate;
  -moz-animation: glow2 $textGlowAnimSpeed ease-in-out infinite alternate;
  animation: glow2 $textGlowAnimSpeed ease-in-out infinite alternate;
  @keyframes glow2 {
    from {
      text-shadow: 0 0 20px $color;
    }
    to {
      text-shadow: 0 0 25px $color;
    }
  }
}
