$background-color: #110b18;
$color-whey: #f9e9e1;
$color-orange: #ec6c36;
$color-blue: #49bbce;

$color-whey-opacity: rgba(249, 233, 225, 0.5);
$color-orange-opacity: rgba(237, 126, 79, 0.5);
$color-blue-opacity: rgba(73, 186, 206, 0.9);
$color-opacity-background: #130e1e;


$border-general: 1px solid rgba(249, 233, 225, 0.2);
$spacing-general: 50px;

